syntax: glob

*.pyc
*.swp
.DS_Store

# XCode: user data
*.xcodeproj/*.pbxuser
*.xcodeproj/*.perspective*
*.xcodeproj/*.mode*
*.xcodeproj/*.xcuserdata*

# XCode: documentation
**.docset/*

# XCode: build directories
**/build/*
build/*
